// @import './blocks/test/test.styl';

.body
	margin 0
	overflow-y scroll
	font-family ff
	font-weight 400
	min-width 320px
	background #fff
	font-size font-size
	line-height line-height
	padding 55px 0
ul
	list-style-type: none;
a
	text-decoration: none
	