// @import '../blocks/logo/logo.styl';


.logo
  font-size 40px
  font-weight 700px
  line-height 40px
  text-decoration none !important
  color black !important
  display block
  font-weight 700
  margin 0 0 40px;

