#backgroundTable {margin:0; padding:0; width:100% !important; line-height:100% !important;}
.outer {Margin: 0 auto; width: 600px;}
body {margin: 0; padding: 0; min-width: 100%; width: 100% !important; height: 100% !important;}
body, table, td, div, p, a {-webkit-font-smoothing:antialiased; line-height:100%; }
table, td {mso-table-lspace:0pt; mso-table-rspace:0pt; border-collapse:collapse !important; border-spacing:0;}
img {clear:both; outline:none; text-decoration:none; -ms-interpolation-mode:bicubic;}
a img {border:none; outline:none; clear:both; text-decoration:none;}
p,a,span,li,td,body,table{-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
p{margin:0;padding:0;}
div[style*="margin: 16px 0"] {margin:0 !important;}
.imageFix {display:block;}
#outlook a, a {padding:0;}
.ReadMsgBody {width:100%;}
.ExternalClass {width:100%;}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
table{margin:0; mso-table-lspace:0pt; mso-table-rspace:0pt;}
td{padding:0;}
.preheader{font-size:1px; color:#ffffff; line-height:1px; max-height:0px; max-width:0px;}
.header{padding:15px 0 15px 22px;}
.header img{color:#ff0008; font-family:'Arial Black',Gadget,sans-serif; font-size:26px; line-height:46px; font-weight:bold;}
.categories-sml{width:100%;}
.categories-sml img{color:#fdc806; font-family:Verdana,sans-serif!important; font-size:50px; line-height:53px; font-weight:normal;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;}
.categories-sml td{padding:0; width:100px;}
.categories-sml a,.categories-sml span{line-height:14px; font-size:10px; -webkit-text-size-adjust:none; font-weight:normal;}
.categories a,.categories span,.categories-sml a,.categories-sml span{font-family:Verdana,sans-serif!important; text-decoration:none; text-transform:uppercase;}
.categories a,.categories span,.categories-sml a,.categories-sml span,.numbers span, .numbers a{text-transform:uppercase; text-decoration:none;}
.categories-sml a, .categories-sml span a{color:#000000;text-decoration:none;}
.categories{width:100%;}
.categories img{color:#000000; font-family:Verdana,sans-serif!important; font-size:8px; line-height:12px; font-weight:normal;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;}
.categories span,.categories-sml span{display:inline-block;}
.categories a{color:#ff0008; line-height:22px; font-size:18px; font-weight:normal;}
.numbers,.numbers span,.numbers a{color:#ffffff;}
.categories span{line-height:16px; font-size:12px; font-weight:normal;}
.categories td{width:131px; vertical-align:top; padding:0 0 40px;}
.numbers{font-family:Verdana,sans-serif!important; line-height:18px; font-size:14px; font-weight:normal; width:100%; padding:26px 0 28px;}
.numbers span{font-family:Verdana,sans-serif!important; line-height:23px; font-size:14px; font-weight:normal;}
.numbers a{font-family:Verdana,sans-serif!important; line-height:23px; font-size:18px; font-weight:normal;}
.footer{width:375px;}
.footer img{color:#ff0008; font-family:Verdana,sans-serif!important; font-size:10px; font-weight:normal;}
.footer td{padding:0 10px;}
.text1{color:#000000; font-family:Verdana,sans-serif!important; font-size:18px; line-height:18px; font-weight:normal;}
.text2{color:#000000; font-family:Verdana,sans-serif!important; font-size:20px; line-height:20px; font-weight:normal;}
