td(width="100%" style="padding-bottom:0;-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-right:0;padding-left:0;")
    table(border="0" cellspacing="0" cellpadding="0" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;" )
        //- Карточка товара (ЮИ)
            product('ссылка на юи','ссылка на изображение юи')
        tr
            +product('https://www.gold585.ru/catalog/earrings_2102196/ ','https://www.gold585.ru/upload/mail/31-08-2018/mail2_04.jpg')
            +product('https://www.gold585.ru/catalog/earrings_3542866/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_05.jpg')
        tr
            +product('https://www.gold585.ru/catalog/earrings_3611076/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_06.jpg')
            +product('https://www.gold585.ru/catalog/sergi-s-ametistami-fianit-207823091486020659/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_07.jpg')
        tr
            +product('https://www.gold585.ru/catalog/--207831202950535284/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_08.jpg')
            +product('https://www.gold585.ru/catalog/earrings_3523419/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_09.jpg')
        tr
            +product('https://www.gold585.ru/catalog/earrings_3514855/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_10.jpg')
            +product('https://www.gold585.ru/catalog/earring_3443894/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_11.jpg')
        //- Обычный баннер с ссылкой
            banner('ссылка куда ведет баннер', 'ссылка на изображение баннера')
        tr
            +banner('https://www.gold585.ru/catalog/earrings/', 'http://www.gold585.ru/upload/mail/31-08-2018/mail2_12.jpg')
        tr
            +product('https://www.gold585.ru/catalog/ring_3522905/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_13.jpg')
            +product('https://www.gold585.ru/catalog/--207828367976131751/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_14.jpg')
        tr
            +product('https://www.gold585.ru/catalog/--207832126440941732/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_15.jpg')
            +product('https://www.gold585.ru/catalog/--207809673321640062/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_16.jpg')
        tr
            +product('https://www.gold585.ru/catalog/bracelet_3444089/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_17.jpg')
            +product('https://www.gold585.ru/catalog/bracelet_2980689/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_18.jpg')
        tr
            +product('https://www.gold585.ru/catalog/pendant_3487908/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_19.jpg')
            +product('https://www.gold585.ru/catalog/pendant_3467372/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_20.jpg')
        tr

