include bemto.pug
include blocks/mail/mixins.pug
doctype
html(lang="ru")
	head
		meta(charset="utf-8")
		title= "Mail Build Docs"
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Описание")
		link(rel="shortcut icon" href="imag/body/favicon.png")
		link(href="css/libs.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
	body(class="body")
		.container
			.nav
				a( href="/" class="logo")
					| mail-
					br
					| build
				ul.nav_list
					li.nav_list-item
						a.mav_link-item.text.text--h3.active(href="#about") Описание
						ul.nav_inner-list
							li.nav_inner-item
								a.inner-link.text(href="#minRequirement") Минимальные требования
							li.nav_inner-item
								a.inner-link.text(href="#usedTech") Используемые технологии
					li.nav_list-item
						a.mav_link-item.text.text--h3(href="#gettingStarted") Быстрый старт
					li.nav_list-item
						a.mav_link-item.text.text--h3(href="#build") Сборка
						ul.nav_inner-list
							li.nav_inner-item
								a.inner-link.text(href="#fileStructure") Файловая структура
							li.nav_inner-item
								a.inner-link.text(href="#workPrinciple") Принцип работы
					li.nav_list-item
						a.mav_link-item.text.text--h3(href="#blocks") Блоки и компоненты
						ul.nav_inner-list
							li.nav_inner-item
								a.inner-link.text(href="#header") Хэдер
							li.nav_inner-item
								a.inner-link.text(href="#footer") Футер
							li.nav_inner-item
								a.inner-link.text(href="#banners") Баннеры
							li.nav_inner-item
								a.inner-link.text(href="#offset") Отступы
							li.nav_inner-item
								a.inner-link.text(href="#products") Карточки товаров
						li.nav_list-item
							a.mav_link-item.text.text--h3(href="#tamplates") Шаблоны
						li.nav_list-item
							a.mav_link-item.text.text--h3(href="#preparationDesign") Подготовка макетов
			.content
				p.text.text--h1#about Описание
				p.text.text--h2#minRequirement Минимальные требования
				p.text Для работы со сборкой требуется установить Node.js, Git.
				p.text.text--h2#usedTech Используемые технологии
				p.text Pug, Gulp, Git, Node.js
				p.text.text--h1#gettingStarted Быстрый старт
				p.text Клонировать репозиторий с GitHub
				pre
					code(class="language-git") git clone https://github.com/sergeybarbolin/mail-build
				p.text  Перейти в директорию проекта
				pre
					code(class="language-powershell") cd src
				p.text Установка зависимостей
				pre
					code(class="language-powershell") npm install
				p.text.text--h2 Запуск сервера или быстрая настройка
				p.text.text--h3 Быстрая настройка
				p.text
					| Отредактировать файл variables.pug в соответствии с задачей (заполнить тему и прехэдер).
				pre
					code(class="language-powershell")
						| mail-build/
						| 	src/
						|		variables.pug
				p.text
					| Отредактровать файл index.pug в соответствии с задачей (вы-брать тип хэдера, футера, баннеров, настроить отступы).
				pre
					code(class="language-powershell")
						| mail-build/
						|	src/
						|		index.pug
				p.text
					| Добавить ЮИ в файле src/blocks/product-card.pug, вставить баннер между ЮИ если это необходимо.
				pre
					code(class="language-powershell")
						| mail-build/
						|	src/
						|		blocks/
						|			product-card.pug
				p.text
					| Собрать верстку (из папки src)
				pre
					code(class="language-powershell") gulp build
				p.text
					| Вернуться в папку mail-build, там появится файл готовой рассылки index.html.
				pre
					code(class="language-powershell")
						| mail-build/
						| 	src/
						|	index.html
				p.text.text--h3 Запуск сервера
				p.text Запуск сервера осуществляется из папки src/ командой
				pre
					code(class="language-powershell") gulp watch
				p.text По умолчанию в браузере откроется вкладка с развернутым локальным сервером. Сборка происходит при каждом сохранении файлов .pug.
				p.text Необходимо повторить действия из предыдущего пункта, отслеживая изменения в реальном времени.
				p.text.text--h1#build Сборка
				p.text.text--h2#fileStructure Файловая структура
				pre
					code(class="language-powershell")
						| mail-build/ 											#Папка проекта
						|	src/ 												#Папка с исходниками, из которых собирается проект
						|		blocs/ 											#Папка с блоками
						|			header/ 									#Папка отдельного блока
						|				header.pug 								#разметка блока header
						|				header--new.pug 						#модифицированная разм
						|			product-card.pug 							#карточки товаров
						|		img/ 											#Папка с используемыми изображениями
						|			tiny/ 										#Неоптимизированные изображения
						|				неоптимизированные_изображение.jpg
						|				неоптимизированные_изображение.png
						|			оптимизированное_изображение.jpg
						|			оптимизированное_изображение.png
						|		node_modules 									#node модули необходимыми для сборке
						|		gulpfile.js 									#инициализация модулей и описание задачи
						|		index.pug    									#файл рассылки
						|		mixins.pug 										#Примеси для более быстрого и комфортного написания кода
						|		style.pug 										#CSS стили
						|		variables.pug 									#Переменные
				p.text.text--h2#workPrinciple Принцип работы
				p.text
					| Итоговая html верстка собирается из отдельных блоков:
					br
					| 2 типа хэдера
					br
					| 2 типа навигации в шапке
					br
					| 2 типа баннеров «Зайди в магазин, не выходя из дома»
					br
					| 2 типа навигации в футэре
					br
					| 2 типа футера
				p.text  Также написаны миксины для быстрого добавления баннеров, карточек товаров, отступов разной величины.
				p.text  Необходимые блоки подключаются через include в файле index.pug.
				p.text  Для добавления баннера или карточки товара необходимо вызвать миксин с необходимыми параметрами. Более подробно можно узнать в разделе Карточки товара или Баннеры.
				p.text  Баннеры можно вставлять в любое место.
				p.text  Карточки товаров добавляются в файле src/blocks/product-card.pug, там же можно вставить баннер между ЮИ.
				p.text  Стили из файла style.pug добавляются автоматически при сборке к соот-ветствующим тегам и классам.
				p.text  Все изображения в папке src/img/tiny с разрешением .png, .jpg, .jpeg авто-матически сжимаются без потери качества и переносятся в папку src/img/. В режиме gulp watch при добавлении изображений в папку src/img/tiny они также сжимаются и переносятся в src/img/ в реальном времени.
				p.text  В режиме gulp watch разворачивается локальный сервер и при каждом со-хранении любого файла .pug происходит сборка и авто обновление стра-ницы в браузере, таким образом вы видите все изменения в реальном вре-мени.
				p.text  Команда gulp build производит такую же сборку как gulp watch, но всего один раз, без развертывания локального сервера. (Работает быстрее)
				p.text  После сборки в корневой папке mail-build появляется файл рассылки index.html.

				p.text.text--h1#blocks Блоки и компоненты
				p.text.text--h2#header Хэдер
				p.text.text--h3 header
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						|tr
						|	include blocks/header/header.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										include blocks/mail/header.pug

				p.text.text--h3 header--new
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						| tr
						|    include blocks/header/header--new.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										include blocks/mail/header--new.pug
				p.text.text--h3 header-nav
					p.text Подключение в файле
						code(class="language-powershell") index.pug
					pre
						code(class="language-pug")
							| tr
							|    include blocks/header/header-nav.pug
					.exemple
						table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
							tr
								td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
									table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
										tr
											include blocks/mail/header-nav.pug
				p.text.text--h3 header-nav--new
					p.text Подключение в файле
						code(class="language-powershell") index.pug
					pre
						code(class="language-pug")
							| tr
							|    include blocks/header/header-nav--new.pug
					.exemple
						table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
							tr
								td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
									table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
										tr
											include blocks/mail/header-nav--new.pug
				p.text.text--h3 red-banner
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						| tr
						|    include blocks/header/red-banner.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")

									tr
										include blocks/mail/red-banner.pug
				p.text.text--h3 red-banner--new
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						| tr
						|    include blocks/header/red-banner--new.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")

									tr
										include blocks/mail/red-banner--new.pug
				p.text.text--h2#footer Футер
				p.text.text--h3 footer
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						| include blocks/footer/footer.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									include blocks/mail/footer.pug
				p.text.text--h3 footer--new
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						|include blocks/footer/footer--new.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									include blocks/mail/footer--new.pug
				p.text.text--h3 footer-nav
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						|tr
						|	include blocks/footer/footer-nav.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")

									td(style="padding-top:0;padding-right:25px;padding-bottom:0;padding-left:25px;-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;")
										table(border="0" cellspacing="0" cellpadding="0" class="categories" width="600" style="width:100%;-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;")
											tr
												include blocks/mail/footer-nav.pug
				p.text.text--h3 footer-nav--new
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						|tr
						|	include blocks/footer/footer-nav--new.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")

									td(style="padding-top:0;padding-right:20px;padding-bottom:0;padding-left:20px;-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;")
										table(border="0" cellspacing="0" cellpadding="0" class="categories" width="550" style="width:100%;-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;")
											tr
												include blocks/mail/footer-nav--new.pug
				p.text.text--h3 unsubscribe
				p.text Подключение в файле
					code(class="language-powershell") index.pug
				pre
					code(class="language-pug")
						| tr
						|    include blocks/footer/unsubscribe.pug
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										include blocks/mail/unsubscribe.pug
				p.text.text--h2#banners Баннеры
				p.text.text--h3 +banner() | Простой баннер с ссылкой
				p.text Подключение в файлах
					code(class="language-powershell") index.pug
					| ,
					code(class="language-powershell") blocks/product-card.pug
				pre
					code(class="language-pug")
						| tr
						|    +banner('ссылка куда ведет баннер', 'ссылка на изображение баннера')
						| tr
						|	+banner('https://www.gold585.ru/personal/?register=yes', 'http://www.gold585.ru/upload/mail/09-06-2018/mail0_20.jpg')
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner('https://www.gold585.ru/personal/?register=yes', 'http://www.gold585.ru/upload/mail/09-06-2018/mail0_20.jpg')
				p.text.text--h3 +banner-no-link() | Простой баннер без ссылки
				p.text Подключение в файлах
					code(class="language-powershell") index.pug
					| ,
					code(class="language-powershell") blocks/product-card.pug
				pre
					code(class="language-pug")
						| tr
						|    +banner-no-link('ссылка на изображение баннера')
						| tr
						|    +banner-no-link('http://www.gold585.ru/upload/mail/02-08-2018/mail_3_17.jpg')
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner-no-link('http://www.gold585.ru/upload/mail/02-08-2018/mail_3_17.jpg')
				p.text.text--h3 +banner-code() | Баннер с промокодом и кнопкой
				p.text Подключение в файлах
					code(class="language-powershell") index.pug
					| ,
					code(class="language-powershell") blocks/product-card.pug
				pre
					code(class="language-pug")
						|tr
						|	+banner-code(
						|		'куда ведет кнопка с баннера',
						|		'текст промокода',
						|		'цвет плашки промокода',
						|		'цвет обводки плашки промокода',
						|		'изображение слева',
						|		'изображение сверху по центру',
						|		'изображение снизу по центру',
						|		'изображение справа'
						|	)
						|tr
						|    +banner-code(
						|        'https://www.gold585.ru/',
						|        'code',
						|        '#ffffff',
						|        '#000000',
						|        'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_01.jpg',
						|        'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_02.jpg',
						|        'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_05.jpg',
						|        'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_03.jpg'
						|    )
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner-code(
											'https://www.gold585.ru/',
											'code',
											'#ffffff',
											'#000000',
											'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_01.jpg',
											'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_02.jpg',
											'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_05.jpg',
											'http://www.gold585.ru/upload/mail/04-09-2018/banner-code_03.jpg'
										)
				p.text.text--h3 +banner-code--new() | Баннер с промокодом (обрезанный)
				p.text Подключение в файлах
					code(class="language-powershell") index.pug
					| ,
					code(class="language-powershell") blocks/product-card.pug
				pre
					code(class="language-pug")
						| tr
						|    +banner-code--new(
						|        'текст промокода',
						|        'цвет плашки промокода',
						|        'цвет обводки плашки промокода',
						|        'изображение слева',
						|        'изображение сверху по центру',
						|        'изображение справа',
						|    )
						| tr
						|	+banner-code--new(
						|		'code',
						|		'#ffffff',
						|		'#000000',
						|		'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_01.jpg',
						|		'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_02.jpg',
						|		'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_03.jpg'
						|	)
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner-code--new(
											'code',
											'#ffffff',
											'#000000',
											'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_01.jpg',
											'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_02.jpg',
											'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_03.jpg'
										)
				p.text Используется в связке с
					code(class="language-pug") +banner()
					|  когда ширина кнопки больше ширины плашки с промокодом.
				pre
					code(class="language-pug")
						|tr
						|	+banner-code--new(
						|		'code',
						|		'#ffffff',
						|		'#000000',
						|		'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_01.jpg',
						|		'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_02.jpg',
						|		'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_03.jpg'
						|	)
						|tr
						|	+banner('https://www.gold585.ru/', 'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_05.jpg')
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner-code--new(
											'code',
											'#ffffff',
											'#000000',
											'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_01.jpg',
											'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_02.jpg',
											'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_03.jpg'
										)
									tr
										+banner('https://www.gold585.ru/', 'http://www.gold585.ru/upload/mail/06-09-2018/code-banner--new_05.jpg')
				p.text.text--h3 +banner-redframe() | Баннер промокод + штрихкод
				p.text Подключение в файлах
					code(class="language-powershell") index.pug
					| ,
					code(class="language-powershell") blocks/product-card.pug
				pre
					code(class="language-pug")
						| tr
						|    +banner-redframe('ссылка на изображение в левой ячейке','ссылка на изображение в правой ячейке','промокод')
						| tr
						|    +banner-redframe('http://www.gold585.ru/upload/subscribe/16-08-2017/18.png','http://www.gold585.ru/upload/subscribe/16-08-2017/19.png','asdasdas')
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner-redframe('http://www.gold585.ru/upload/subscribe/16-08-2017/18.png','http://www.gold585.ru/upload/subscribe/16-08-2017/19.png','asdasdas')

				p.text.text--h3 +banner-shadowframe() | Квадпратный баннер с промокодом
				p.text Подключение в файлах
					code(class="language-powershell") index.pug
					| ,
					code(class="language-powershell") blocks/product-card.pug
				pre
					code(class="language-pug")
						| tr
						|    +banner-shadowframe('ссылка на верхнее изображение баннера', 'ссылка на нижнее изображение баннера', 'промокод')
						| tr
						|    +banner-shadowframe('http://www.gold585.ru/upload/subscribe/31-08-2018/42.png', 'http://www.gold585.ru/upload/subscribe/31-08-2018/43.png', 'asdsadasd')
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner-shadowframe('http://www.gold585.ru/upload/subscribe/31-08-2018/42.png', 'http://www.gold585.ru/upload/subscribe/31-08-2018/43.png', 'asdsadasd')
				p.text.text--h2#offset Отступы
				p.text.text--h3 +offset()
				p.text Подключение в любом месте
				pre
					code(class="language-pug")
						|tr
						|	+banner-redframe('http://www.gold585.ru/upload/subscribe/16-08-2017/18.png','http://www.gold585.ru/upload/subscribe/16-08-2017/19.png','asdasdas')
						|tr
						|	//-offset('отступ в px')
						|	+offset('50')
						|tr
						|	+banner('https://www.gold585.ru/catalog/earrings/earrings_with_colored_stones/ ', 'http://www.gold585.ru/upload/mail/31-08-2018/mail2_03.jpg')
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										+banner-redframe('http://www.gold585.ru/upload/subscribe/16-08-2017/18.png','http://www.gold585.ru/upload/subscribe/16-08-2017/19.png','asdasdas')
									tr
										//-offset('отступ в px')
										+offset('50')
									tr
										//- Обычный баннер с ссылкой
											banner('ссылка куда ведет баннер', 'ссылка на изображение баннера')
										+banner('https://www.gold585.ru/catalog/earrings/earrings_with_colored_stones/ ', 'http://www.gold585.ru/upload/mail/31-08-2018/mail2_03.jpg')
				p.text.text--h2#products Карточки товаров
				p.text.text--h3 +product()
				p.text Подключение в файле
					code(class="language-powershell") blocks/product-card.pug
				pre
					code(class="language-pug")
						| +product('ссылка на товар','ссылка на изображение товара')
						|
						|tr
						|	+product('https://www.gold585.ru/catalog/earrings_2102196/ ','https://www.gold585.ru/upload/mail/31-08-2018/mail2_04.jpg')
						|	+product('https://www.gold585.ru/catalog/earrings_3542866/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_05.jpg')
						|tr
						|	+product('https://www.gold585.ru/catalog/earrings_3611076/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_06.jpg')
						|	+product('https://www.gold585.ru/catalog/sergi-s-ametistami-fianit-207823091486020659/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_07.jpg')
				.exemple
					table(id="backgroundTable" bgcolor="#fff" style="-webkit-font-smoothing:antialiased;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;width:100% !important;line-height:100% !important;")
						tr
							td(align="center" style="-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;")
								table(class="outer" border="0" cellspacing="0" cellpadding="0" width="600" role="presentation" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;Margin:0 auto;width:600px;")
									tr
										td(width="100%" style="padding-bottom:0;-webkit-font-smoothing:antialiased;line-height:100%;mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;padding-top:0;padding-right:0;padding-left:0;")
											table(border="0" cellspacing="0" cellpadding="0" style="-webkit-font-smoothing:antialiased;line-height:100%;border-collapse:collapse !important;border-spacing:0;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;mso-table-lspace:0pt;mso-table-rspace:0pt;" )
												//- Карточка товара (ЮИ)
													product('ссылка на юи','ссылка на изображение юи')
												tr
													+product('https://www.gold585.ru/catalog/earrings_2102196/ ','https://www.gold585.ru/upload/mail/31-08-2018/mail2_04.jpg')
													+product('https://www.gold585.ru/catalog/earrings_3542866/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_05.jpg')
												tr
													+product('https://www.gold585.ru/catalog/earrings_3611076/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_06.jpg')
													+product('https://www.gold585.ru/catalog/sergi-s-ametistami-fianit-207823091486020659/ ','http://www.gold585.ru/upload/mail/31-08-2018/mail2_07.jpg')
	script(src="js/script.min.js")

